.button {
  background-color: var(--accent-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  border-radius: 20px;
  padding: 20px 60px;
  cursor: pointer;
}

.buttonText {
  position: relative;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: var(--background-color);
  background-color: transparent;
  user-select: none;
}
