div.chat {
    position: fixed;
    height: 80%;
    width: 70%;
    right: 0%;
    bottom: 10%;
    overflow-y: scroll;
}

.send {
    position: fixed;
    width: 70%;
    height: 10%;
    right: 0%;
    bottom: 0%;
}