.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  pointer-events: none;
  user-select: none;
  margin-bottom: 30px;
}

.error svg {
  color: var(--accent-color);
  height: var(--font-size-h4);
}

.error p {
  color: var(--accent-color);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
  margin: 0 15px;
}
