.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.title {
  user-select: none;
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1);
  margin-bottom: 32px;
  color: var(--foreground-color);
}

.footer {
  position: absolute;
  background-color: var(--foreground-color-3);
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer > p {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background-color: transparent;
  color: var(--background-color);
}
.footer > a {
  margin-top: 8px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-s);
  background-color: transparent;
  color: var(--background-color);
}

.footer > a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
