.container {
    position: fixed;
    top: 22px;
    left: 4%;
    width: 24%;
    height: auto;
}

.search {
    font-size: 16px;
    padding-left: 50px;
    border-radius: 30px;
    background-color: #D9D9D9;
    color: #656462;
    border: none;
    height: 36px;
    width: 80%;
}

.icon {
    position: absolute;
    left: 20px;
    top: 30%;
    color: #656462;
}