.box {
    position: relative;
    text-align: center;
    background-color: #E7E7E7;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 0px 20px;
}

.date {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #656462;
    font-size: 20px;
}