.Container {
    background-color: #D1363A;
    position: fixed;
    width: 30%;
    height: 13%;
    left: 0;
    bottom: 0;
}

.name {
    margin: 5% 0px 9px 16px;
    color: #E7E7E7;
    text-align: justify;
    font-size: 22px;
    font-weight: 500;
    font-family: Roboto;
}

.status {
    margin: 0;
    margin-left: 16px;
    color: #E7E7E7;
    text-align: justify;
    font-size: 14px;
    font-family: Roboto;
}